html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Epilogue' , sans-serif;
}

.dash_item {
    padding: 1rem;
    margin-right: 3px;
}

.footer_fix {
    min-height: calc(100vh - 72px);
}